 <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/myadmin/dashboard">
                  <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <!-- <i class="icon-layout menu-icon"></i> -->
              <i class="fa fa-edit mr-2"></i>
              <span class="menu-title">Category</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/myadmin/add_category">Add New Category</a></li>
                <li class="nav-item"> <a class="nav-link" href="/myadmin/category">All Categories</a></li>
                </ul>
            </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="fa fa-edit mr-2"></i>
              <span class="menu-title">Subcategory</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/myadmin/add_subcategory">Add New Subcategory</a></li>
                <li class="nav-item"><a class="nav-link" href="/myadmin/subcategory">All Subcategories</a></li>
              </ul>
            </div>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/myadmin/users">
              <i class="fa-solid fa-users mr-2"></i>
              <span class="menu-title">Users</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/innovators">
            <i class="fa-solid fa-users mr-2"></i>
              <span class="menu-title">Innovators</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/idea">
             <i class="fa-solid fa-lightbulb mr-2"></i>
              <span class="menu-title">Ideas</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/order">
             <i class="fa-solid fa-money-check-dollar mr-2"></i>
              <span class="menu-title">Orders</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/inquiry">
             <i class="fa fa-envelope mr-2"></i>
              <span class="menu-title">Inquiry</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/feedback">
             <i class="fa fa-comment mr-2"></i>
              <span class="menu-title">Feedback</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/logout">
                         <i class="fa fa-sign-out mr-2"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
         
         
          
         
          
          
        </ul>
      </nav>