{% extends 'myadmin/common/layout.html' %}
{% block content %}

          <div class="row">
           
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card" align="text-center">
                <div class="card-body">
                  <h4 class="card-title">Add Subcategories</h4>
                  <p class="card-description">
                    Add Subcategories
                  </p>


                  <form class="forms-sample" method="post" action="/myadmin/subcategory_store" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">SubCategoryName</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="subcategoryname" name="subcategoryname" placeholder="Category Name">
                      </div>
                    </div>



                    <!--  <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">CategoryID</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="category" name="category" placeholder="">
                      </div>
                    </div>
 -->





                 <div class="form-group row">
                      <label for="exampleSelectGender" class="col-sm-3 col-form-label">Category</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="category" name="category">
                          <option value="">Select Category</option>
                          {% for row in result %}
                          <option value="{{row.id}}">{{row.categoryname}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    

                  <!-- <div class="form-group row">
                      <label for="exampleSelectGender" class="col-sm-3 col-form-label">Category</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="category" name="category">
                          <option value="">Select Category</option>
                          {% for c in categories %}
                          <option value="{{c.id}}" {% if result.category_id == c.id %} selected {% endif %}>{{c.categoryname}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div> -->

                    <!-- <div class="form-group row">
                      <label for="f" class="col-sm-3 col-form-label">FileUpload</label>
                      <div class="col-sm-9">
                      <div class="input-group col-xs-12">
                        <input type="file" class="form-control" name="f" id="f">
                         <span class="input-group-append">
                          <button type="submit" value="Upload" id="upload" name="upload">Upload</button>
                        </span> -->
<!--                       </div>
                      </div>
                    </div> -->

                    <div class="form-group row">
                      <label for="f" class="col-sm-3 col-form-label">FileUpload</label>
                      <div class="col-sm-9">
                      <div class="input-group col-xs-12">
                        <input type="file" class="form-control" name="f" id="f">
                      </div>
                      </div>
                    </div>  

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>

                  </form>
                </div>
              </div>
            </div>
 </div>
        
{% endblock %}