{% extends 'myadmin/common/layout.html' %}
{% block content %}

          <div class="row">
           
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card" align="text-center">
                <div class="card-body">
                  <h4 class="card-title">Form</h4>
                  <p class="card-description">
                    form layout
                  </p>
                  <form class="forms-sample">
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputUsername2" placeholder="Username">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                      </div>
                    </div>


                    <div class="form-group row">
                      <label for="exampleSelectGender" class="col-sm-3 col-form-label">City</label>
                      <div class="col-sm-9">
                        <select class="form-control" id="exampleSelectGender">
                          <option value="">select city</option>
                          <option value="1">Ahmedabad</option>
                          <option value="2">Rajkot</option>
                          <option value="3">Surat</option>
                          <option value="4">Baroda</option>
                        </select>
                      </div>
                    </div>




                  <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">zender</label>
                          <div class="col-sm-3">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="option1s" checked>
                                male
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-3s">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                                female
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>




                       <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">zender</label>
                          <div class="col-sm-3">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="Checkbox1" id="Checkbox1" value="option1">
                                male
                              </label>
                            </div>
                          </div>
                          <div class="col-sm-3s">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="Checkbox2" id="Checkbox2" value="option2">
                                female
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>




                      <div class="form-group row">
                      <label for="exampleTextarea1" class="col-sm-3 col-form-label">Textarea</label>
                      <div class="col-sm-9">
                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                      </div>
                    </div>



                    <div class="form-group row">
                      <label for="exampleTextarea1" class="col-sm-3 col-form-label">FileUpload</label>
                      <div class="col-sm-9">
                         <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                      </div>
                    </div>





                      



                      


                  


                    



                      
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>

                  </form>
                </div>
              </div>
            </div>
            
           
            
            
            
            
            
            
            
          </div>
        
{% endblock %}