{% extends 'myadmin/common/layout.html' %}
{% block content %}

          <div class="row">
            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Innovators</h4>
                  <p class="card-description">
                    All Innovators <code></code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>FirstName</th>
                          <th>LastName</th>
                          <th>Email</th>
                          <th>Username</th>
                          <th>Contact</th>
                          <th>Address</th>
                          <th>View Details</th>
                          <!-- <th>Address</th>
                          <th>ProfilePhoto</th>
                          <th>Password</th>
                          <th>RoleID</th>
                          <th>Delete</th>
                          <th>Update</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        {% for p in profiles1 %}
                        <tr>
                          <td>{{p.id}}</td>
                          <td>{{p.user.first_name}}</td>
                          <td>{{p.user.last_name}}</td>
                          <td>{{p.user.email}}</td>
                          <td>{{p.user.username}}</td>
                          <td>{{p.contact}}</td>
                          <td>{{p.address}}</td>
                          <td><a href="/myadmin/innovators_table/{{p.id}}">View Details</a></td>
                          <!-- <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo</td>
                          <td>1.png</td>
                          <td>12345</td>
                          <td>1</td>
                          <td>Delete</td>
                          <td>Update</td> -->
                        </tr>
                        {% endfor %}


                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
           
            
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        
        <!-- partial -->
      </div>
{% endblock %}