 <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/innovators/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa-solid fa-lightbulb mr-2"></i>
              <span class="menu-title">Ideas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/innovators/add_idea">Add New Idea</a></li>
                <li class="nav-item"> <a class="nav-link" href="/innovators/idea">All Ideas</a></li>
                </ul>
            </div>
          </li>


          


          <li class="nav-item">
            <a class="nav-link" href="/innovators/order">
            <i class="fa-solid fa-money-check-dollar mr-2"></i>
              <span class="menu-title">Orders</span>
            </a>
          </li>

          

          <li class="nav-item">
            <a class="nav-link" href="/innovators/logout">
                <i class="fa fa-sign-out mr-2"></i>
              <span class="menu-title">Logout</span>
            </a>
          </li>
         
         
          
         
          
          
        </ul>
      </nav>